:root {
  font-size: 16px;
 }

body {
  margin: 0;
  padding: 0; 
  }

.container {
  display: flex;
  flex-direction: column;  
  margin: 2vw; 
}
header.masthead {
  text-align: center;
  color: #fbc02d;
   background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
 
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.banner .card {
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px #35eea4;
  display: flex;
  flex-direction: column;
  }
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 5vw; 
  }
  .banner .card .sub-heading {

    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 5vw 2vw; 
  }
    .banner .card .sub-heading button {
      background: none;
      border: none;
      border-radius: 5px;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      font-size: 1rem;
      letter-spacing: 8px;
      margin-top: 2vh;
      padding: 10px;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; 
    }
    .banner .card .sub-heading button:hover {
      cursor: pointer;
      box-shadow: 0 3px 20px 0 #35eea4; 
    }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh; }

  .row .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 25vw;
    
  }



.paragraph{
  color: #2c2c2c;
  font-family: "Istok Web", sans-serif;
  padding: 5vw 5vw 5vw 0;
}
.Interests_Heading{
    width: 100vw;
    
}
.icon-group{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .icon-name{
      font-size: 2rem;
      text-align: center;
      
  }
  .icon-name p{
    
    
    margin: 0px;

  }
  .icon-group .icon{
   
   width: 20vw;
   height: 35vh;
  
  }
  .Project{
      width: 100%;
      
  }
.Interests_Heading{
    width: 100%;
   
}
.Heading{
    background-color: #2c2c2c;
      border: none;
      border-radius: 5px;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      font-size: 2rem;
      
      margin-top: 2vh;
      padding: 10px;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; 
}
h6{
text-transform: capitalize;
}
a{
    font-size: 2rem;
    text-decoration: unset;
    color: #35eea4;
}
.contact{
  
}
 .logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
   
 }
 .logo .div{
  margin: 10px;
 } 
@media only screen and (max-width: 725px){
    .row{
      flex-direction: column;
    }
  
    .row .image{
      order: -1;
    }
    .row .my-image{
      width: 80vw;
    }

    .icon-group{
        margin-top: 2vh;
        flex-wrap: wrap;
      }
      .icon-name{
        margin: 2%;
        width: 46%;
          text-align: center;
      }
      .icon-group .icon{
       
       width: 30vw;
       height: 25vh;
      
      }


  }
  @media only screen and (max-width: 480px){

    .icon-name{
     
      width: 100%;
        text-align: center;
    }
    .icon-group .icon{
       
      width: 50vw;
      height: 35vh;
     
     }
  }

 